<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{{ page.title }}</title>

    <meta name="author" content="Paul Statezny" />
    <meta name="description" content="Web development & such." />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ site.url }}/css/style.css" type="text/css" />
</head>
<body>
    <section class="container">
        <header class="header">
            <h1 class="header-title">
                <a href="{{ site.url }}" class="header-name">Paul Statezny</a>

                <span class="subtitle">
                    <strong>
                        <a href="{{ site.url }}">paulstat.com</a>
                    </strong>

                    Web development &amp; such
                </span>
            </h1>

            <nav>
                <a href="{{ site.url }}">Blog</a>
                <a href="/about">About</a>
            </nav>
        </header>
